@charset "UTF-8";

.main {
    padding: 20px;
}
.item {
    width: 200px;
    height: 100px;
    background-color: red;
    padding: 20px;
}

input {
    margin: 10px;
}

.header {
    width: 100%;
    height: 160px;
    top: 0;
    position: fixed;
    background-color: #555555;
    padding: 10px;
}
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-logo-img {
    width: auto;
    height: auto;
    /*width: 192px;*/
    /*height: 100px;*/
}

.logout {
    margin: 0;
    border: none;
    box-shadow: none;
    list-style-type: none;
}
.header-caption {
    align-content: center;
    padding-left: 5%;
}

.logo-text {
    font-size: 60px;
    font-weight: bold;
}

.welcome-message {
    font-weight: bold;
    font-size: 32px;
}

.language-element a {
    /*font-family: monospace;*/
    width: 2ch;
    overflow: hidden;
    white-space: nowrap;
}

.language-element a:hover {
    width: 100%;

}

/*.language-element {*/
/*    !*font-family: monospace;*!*/
/*    width: 2ch;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*}*/

/*.language-element:hover {*/
/*    width: 100%;*/
/*}*/

.user-wrapper {
    align: right;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.user-edit-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-edit-left {
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.user-edit-right {
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.user-edit-captions {
    align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user-edit-fields {
    align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-item-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    display: contents;
}
.open-delete-popup-button {

}

.user-item-wrapper img{
    height: 50px;
    width: 50px;
}

.user-info {
    text-align: right;
    align: right;
    margin: 10px;
    line-height: 30px;
}

.user-info a {
    text-decoration: none;
    color: #cccccc;
}
.user-info a:hover {
    color: black;
}

.userpic {
    margin: 10px;
}

.userpic-img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.start-button {
    text-decoration: none;
    color: #cccccc;
    border: #cccccc;
    border-radius: 5px;
}

.login-form {
    text-align: right;
    list-style-type: none;
}
.news-wrapper {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.news-caption {
    margin: 10px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}

.news-date {
    margin: 5px;
    font-size: 12px;
    text-align: right;
}
.news-text {
    margin: 10px;
    text-align: left;
    font-size: 15px;
}

.news-item {
    margin: 20px;
    padding: 10px;
    border: #222222;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.pages-number select {
    align-content: center;
    align: left;
    color: #fdfdfe;
    border: #1f1f99;
}

.pages-number option {
    color: #bc1f1f;
}

.menu {
    width: 20%;
    top: 160px;
    position: fixed;
    display: block;
    height: 100%;
    background-color: #555555;
}

.sidebar {
    position: fixed;
    width: 20%;
    /*height: 100%;*/
    background: #555555;
    font-size: 1em;
}

.container {
    margin-top: 160px;
    margin-left: 20%;
    padding: 30px;
    position: center;
    background-color: #7F7F7F;
    text-align: center;
    height: 65%;
}

.chatbox {
    margin-left: 20%;
    margin-top: 0%;
    padding: 10px;
    position: center;
    background-color: #7F7F7F;
    text-align: center;
    height: 20%;
}
.pagination-wrapper {
    margin: 20px;
    /*box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);*/
    border-radius: 10px;
}
.message-container {
    padding: 20px;
    background-color: #969696;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.message {
    margin: 5px;
    padding: 10px;
    background-color: #fdfdfe;
    border-radius: 10px;
    display: flex;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.message-left-info {
    display: flex;
    flex-wrap: wrap;
}

.message-right-info {
    display: flex;
    flex-wrap: wrap;
}

.card-black {
    text-decoration: none;
    color: black;
    font-size: 100px;
    transition: font-size 1s;
}

.chosen-card-black {
    font-size: 150px;
    color: black;
}

.card-black:hover {
    /*color: darkred;*/
    /*border: #525253;*/
    font-size: 150px;
}

.card-red {
    text-decoration: none;
    color: darkred;
    font-size: 100px;
    transition: font-size 1s;
}

.chosen-card-red {
    font-size: 150px;
    color: darkred;
}

.card-red:hover {
    font-size: 150px;
}

.card {
    margin: 20px;
    padding: 10px;
}

.banker-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.pagination {
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.pagination li {
    position: relative;
    display: block;
    letter-spacing: 7px;
}

.pagination a {
    text-transform: uppercase;
    text-decoration: none;
    color: #cccccc;
    display: block;
}

.pagination a:hover {
    color: cadetblue;
}

.pagination a:active {
    color: #222222;
}

.game-cards {
    font-size: 70px;
}

.nav {
    position: relative;
    margin: 0 15%;
    top: 10%;
    font-weight: bold;
    color: #555555;
}

.nav ul {
    list-style: none;
    text-align: right;
}

.nav li {
        position: relative;
        margin: 3.2em 0;
        border: solid #7F7F7F;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        list-style-type: none;
    }

.nav a {
        line-height: 30px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        color: #cccccc;
        display: block;
        /*transition: all ease-out 300ms;*/
    }


.active a{
    color: #222222;
}



.language-select{
    align: left;
    text-align: left;
    position: relative;
    padding: 10px;
    /*transform: translate(-50%, -50%);*/
}

.language-select select {
    background-color: #555555;
    color: #7f7f7f;
    /*padding: 10px;*/
    width: 70px;
    border: solid;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.language-select::before {
    align: left;
    position: relative;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #fdfdfe;
    background-color: #525253;
    pointer-events: none;
}

.language-select:hover::before {
    color: #1f1f99;
    background-color: #bc1f1f;
}

.language-select a:hover {
    color: black;
}

.language-select select option {
    padding: 30px;
}

.marque {
    display: inline;
    width: 70px;
    font-family: Commissioner, serif;
    font-size: 18px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 5s infinite linear;
    -moz-animation: scroll 5s infinite linear;
    animation: scroll 5s infinite linear;
}




@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

/* commissioner-regular - latin_cyrillic */
@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/commissioner-v4-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/commissioner-v4-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/commissioner-v4-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/commissioner-v4-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/commissioner-v4-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/commissioner-v4-latin_cyrillic-regular.svg#Commissioner') format('svg'); /* Legacy iOS */
}
/* commissioner-600 - latin_cyrillic */
@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/commissioner-v4-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/commissioner-v4-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/commissioner-v4-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/commissioner-v4-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
    url('fonts/commissioner-v4-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/commissioner-v4-latin_cyrillic-600.svg#Commissioner') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Commissioner', serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.2;
    font-weight: 400;
    color: black;
}
html {
    box-sizing: border-box;
    background-color: #7F7F7F;
    font-family: 'Commissioner', serif;
    /*font-family: "Courier New", monospace;*/
}
*, *::before, *::after {
    box-sizing: inherit;
    list-style-type: none;

}