<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

  <display-name>Stoss game</display-name>

  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>com.epam.training.tasks.stoss.filters.AuthorizationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/controller</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.epam.training.tasks.stoss.filters.AdminFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/controller</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>com.epam.training.tasks.stoss.Controller</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>uploaded-resources</param-name>
    <param-value>D:\dev\Tomcat8.5\webapps\resources\stoss\</param-value>
  </context-param>
<!--  <context-param>-->
<!--    <description>Location to uploaded files</description>-->
<!--    <param-name>file-upload</param-name>-->
<!--    <param-value>D:\dev\Tomcat8.5\webapps\resources\stoss\</param-value>-->
<!--  </context-param>-->

</web-app>

